.HS6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Use full width of the parent container */
    height: 100vh; /* Full viewport height */
     
}
.HS6 img{
    width: 100%;
    object-fit: cover;  
}
@media screen and (max-width: 768px){
    .HS6{
        margin-top: -200px;
    }
}
@media screen and (max-width: 426px){
    .HS6{
        margin-top: -320px;
    }
}
@media screen and (max-width: 450px){
    .HS6{
        margin-top: -360px;
    } 
}